<!DOCTYPE html>
<html>

<head>
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./image/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='./image/icon.png') }}" type="image/company-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='./image/base.css') }}">
</head>

<body>
    <header style="background: lightblue;">
        <a href="#" class="logo" style="display: none;">Sm<span>..</span>ag<span>..</span>Sy<span>..</span></a>
        <div class="menutoggle" onclick="toggle()"></div>
        <ul class="nav">
            <li><a href="/#home" onclick="toggle()"><b>Home</b></a></li>
            <li><a href="/prediction" onclick="toggle()"><b>Prediction</b></a></li>
            <li><a href="https://www.agricart.com/"><b>Product</b></a></li>
            <li><a href="/#aboutme" onclick="toggle()"><b>About Us</b></a></li>
            <li><a href="/#contact" onclick="toggle()"><b>Contact</b></a></li>
        </ul>
    </header>
    <div id="container" class="container">
        <div id="chat" class="chat">
            <div id="messages" class="messages"></div>
            <input id="input" type="text" placeholder="Say something..." autocomplete="off" autofocus="true" />
        </div>
        <img src="{{ url_for('static', filename='image/bot.png') }}" alt="..." height="500vh">
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='./image/index.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./image/constants.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./image/speech.js') }}"></script>

</html>